# Ignore Unity temp files and directories
[Dd]ebug/
[Dd]ebugPublic/
[Rr]eleases/
[Bb]uild/
[Bb]uilds/
[Bb]in/
[Oo]bj/
Temp/
[Ll]ibrary/
[Ll]ogs/
[Mm]emoryCaptures/
*.csproj
*.unityproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db
*.pidb.meta
*.unitypackage
Assembly-CSharp-Editor.csproj
Assembly-CSharp.csproj
First Game.sln
My project (1).sln
Packages/manifest.json
Packages/packages-lock.json


